<ion-app>
  <ion-content class="ion-padding">
    <ion-list class="ion-margin-bottom">
      <ion-list-header>
        <ion-label>ILHAM FADILAH</ion-label>
      </ion-list-header>
      <ion-item lines="full">
        <ion-label>NIK : 147018918712</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>NO.HP : 083179597433</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Alamat : Jl. Petanian</ion-label>
      </ion-item>
    </ion-list>

    <ion-list class="ion-margin-bottom">
      <ion-list-header>
        <ion-label>Reza AULIA</ion-label>
      </ion-list-header>
      <ion-item lines="full">
        <ion-label>NIK : 14701654234</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>NO.HP : 08312434001</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>Alamat : Jl. Melur</ion-label>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-list class="ion-margin-bottom"></ion-list>
      <ion-list-header>
        <ion-label>FIRZA SURYA</ion-label>
      </ion-list-header>
      <ion-item lines="full">
        <ion-label>NIK:148197252432</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>NO.HP : 081222114</ion-label>
      </ion-item>
      <ion-item lines="full">
        <ion-label>ALAMAT : JL. Lobak</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-app>
