<ion-content>
  <div class="grid">
    <ion-card>
      <img src="assets/img/pajero.jpg" alt="Pajero" />
      <ion-card-header>
        <ion-card-title>Pajero</ion-card-title>
        <ion-card-subtitle>Rp800.000 / hari</ion-card-subtitle>
        <ion-card-subtitle>BM 0102 LAW</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="assets/img/crv.jpg" alt="Crv" />
      <ion-card-header>
        <ion-card-title>Crv</ion-card-title>
        <ion-card-subtitle>Rp400.000 / hari</ion-card-subtitle>
        <ion-card-subtitle>BM 1902 IIL</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="assets/img/innova.jpg" alt="Innova" />
      <ion-card-header>
        <ion-card-title>Innova</ion-card-title>
        <ion-card-subtitle>Rp600.000 / hari</ion-card-subtitle>
        <ion-card-subtitle>BM 2424 BBA</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <img src="assets/img/ertiga.jpg" alt="Ertiga" />
      <ion-card-header>
        <ion-card-title>Ertiga</ion-card-title>
        <ion-card-subtitle>Rp850.000 / hari</ion-card-subtitle>
        <ion-card-subtitle>BM 1401 CAW</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
